---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: cfgarden/garden-ci
    tag: '2.0.13'

inputs:
  - name: grootfs-git-repo
    path: src/code.cloudfoundry.org/grootfs

params:
  DOCKER_REGISTRY_USERNAME:
  DOCKER_REGISTRY_PASSWORD:
  GROOTFS_USER: whoever

run:
  dir: src/code.cloudfoundry.org/grootfs
  path: ci/scripts/unit-tests.sh
  user: root
